<div class="panel-heading">
	<h1 class="panel-title">Find Movies</h1>
</div>
<div class="panel-body">
	<section class="row">
		<form>
			<div class="form-group col-md-6">
				<label for="keywords" class="sr-only">Keywords</label>
				<input ng-model="keywords" name="keywords" type="text" autofocus="" class="form-control" placeholder="Movie name, e.g. Pulp Fiction">
			</div>
			<div class="form-group col-md-3">
				<button ng-click="search(keywords)" class="btn btn-primary">Search</button>
			</div>
		</form>
	</section>
	<table class="table" ng-if="movies[0]">
		<tr>
			<th>Title</th>
			<th>Year</th>
			<th>Rating</th>
			<th></th>
		</tr>
		<tr ng-repeat="movie in movies">
			<td><a href ng-click="view(movie.id)">{{ movie.title }}</a></td>
			<td>{{ movie.year }}</td>
			<td>{{ movie.rating }}</td>
			<td><button class="btn btn-info btn-sm" ng-click="edit(movie.id)">Edit</button></td>
		</tr>
	</table>
</div>