<div class="panel-heading">
	<h1 class="panel-title">{{ movie.title }} ({{ movie.year }})</h1>
</div>
<div class="panel-body">
	<aside class="flash row">
		<article flash-alert duration="0" active-class="alert" class="col-md-6 col-md-offset-3 col-sm-12" >
			{{ flash.message }}
		</article>
	</aside>
	<p>Rating: {{ movie.rating }}</p>
	<div id="cast" ng-if="movie.roles[0]">
		<h2>Cast</h2>
		<ul>
			<li ng-repeat="role in movie.roles"><a href ng-click="actor(role.actor_id)">{{ role.actor_name }}</a> as {{ role.name }}</li>
		</ul>
	</div>
</div>
<div class="panel-footer clearfix">
	<div class="col-md-3">
		<button ng-click="back()" class="btn btn-default">Back</button>
	</div>
	<div class="col-md-9 text-right">
		<button ng-click="edit(movie.id)" class="btn btn-info">Edit</button>
		<button ng-click="delete(movie.id)" class="btn btn-danger">Delete</button>
	</div>
</div>