<div class="panel-heading">
	<h1 class="panel-title">Find Actors</h1>
</div>
<div class="panel-body">
	<section class="row">
		<form>
			<div class="form-group col-md-6">
				<label for="keywords" class="sr-only">Keywords</label>
				<input ng-model="keywords" name="keywords" type="text" autofocus="" class="form-control" placeholder="Actor name, e.g. Uma">
			</div>
			<div class="form-group col-md-3">
				<button ng-click="search(keywords)" class="btn btn-primary">Search</button>
			</div>
		</form>
	</section>
	<table class="table" ng-if="actors[0]">
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Date of Birth</th>
			<th></th>
		</tr>
		<tr ng-repeat="actor in actors">
			<td><a href ng-click="view(actor.id)">{{ actor.firstName }}</a></td>
			<td><a href ng-click="view(actor.id)">{{ actor.lastName }}</a></td>
			<td>{{ actor.dateOfBirth }}</td>
			<td><button class="btn btn-info btn-sm" ng-click="edit(actor.id)">Edit</button></td>
		</tr>
	</table>
</div>