<!DOCTYPE html>
<html>
<head>
  <title>bMDB - Angular</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="moviedb">
	<nav class="navbar navbar-default">
		<div class="navbar-header">
			<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#main-nav-collapse">
				<span class="sr-only"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="/" class="navbar-brand">bMDB</a>
		</div>
		<div class="collapse navbar-collapse" id="main-nav-collapse">
			<ul class="nav navbar-nav">
				<li><a href="/#/">Movies</a></li>
				<li><a href="/#/movies/new">New Movie</a></li>
				<li><a href="/#/actors">Actors</a></li>
				<li><a href="/#/actors/new">New Actor</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="panel panel-default" ng-view>
					<%= yield %>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
